<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
</head>
<body>

    {% extends "appventas/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}

    <div class="container px-lg-5">
        <div class="p-2 p-lg-3 bg-light rounded-3 text-center">
            <div class="m-2 m-lg-3">

                <h3>Registro</h3>

                <p class="fs-5 fw-bold">{{ msg_register }}</p>

                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <div>
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="error">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                
                    <div>
                        <label for="id_email">Email:</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                
                    <div>
                        <label for="id_password1">Contraseña:</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="error">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
                
                    <div>
                        <label for="id_password2">Repetir contraseña:</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="error">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>
                
                    <input type="submit" value="Registrarse">
                </form>
                
                <a href="{% url 'inicio' %}">Volver</a>
            </div>
            </div>
        </div>
    </div>
        
    {% endblock %}

</body>
</html>