<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "appventas/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}

    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">

    <h3>Ingreso de nuevo producto</h3>

    <form action="" method="POST">

        {% csrf_token %}
        <table style="margin-left: auto; margin-right: auto;">
            {{miformulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
        
    </form>

</div>
</div>
</div>

    {% endblock %}

</body>
</html>