<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends "appventas/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %}

   
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">

                    <h1>Usted está en la sección de productos</h1>
                    <p>Para registrar un nuevo producto, <a href="{% url 'productosform2' %}">haga click aqui</a></p>
                    <p>Para buscar un producto, <a href="{% url 'busquedaproductos' %}">haga click aqui</a></p>

                </div>
            </div>
        </div>
   

    {% endblock %}

</body>
</html>